---
import AlpineStaticCard from '../alpine/StaticCard.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Alpine.js Page</title>
	</head>
	<body>
		<h1>Alpine.js Integration</h1>
    <AlpineStaticCard title="Hello from Alpine!" message="This is an Astro component with Alpine.js attributes." />
	</body>
</html>
