---
import { StaticCardComponent } from '../angular/static-card.component';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Angular Static Page</title>
	</head>
	<body>
		<h1>Angular Integration</h1>
    <StaticCardComponent title="Hello from Angular!" message="This component is rendered on the server." />
	</body>
</html>
