---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul>
			<li><a href="/preact">Preact Page</a></li>
			<li><a href="/react">React Page</a></li>
			<li><a href="/solid">SolidJS Page</a></li>
			<li><a href="/vue">Vue Page</a></li>
			<li><a href="/svelte">Svelte Page</a></li>
			<li><a href="/angular">Angular Page</a></li>
		</ul>
	</body>
</html>
