---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Multi-Framework</title>
	</head>
	<body>
		<h1>Astro Multi-Framework Labs</h1>
		<ul>
			<li><a href="/react">1. React 19</a></li>
			<li><a href="/preact">2. Preact 10</a></li>
			<li><a href="/solid">3. SolidJS 1</a></li>
			<li><a href="/vue">4. Vue 3</a></li>
			<li><a href="/svelte">5. Svelte 5</a></li>
			<li><a href="/alpine">6. Alpine.js 3</a></li>
			<li><a href="/lit">7. Lit</a></li>
		</ul>
	</body>
</html>