---
import '../lit/StaticCard.js';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Lit Integration Page</title>
	</head>
	<body>
		<h1>Lit Integration</h1>
    <lit-static-card title="Hello from Lit!" message="This is a native Web Component rendered via Astro SSR." />
	</body>
</html>
