---
import PreactStaticCard from '../preact/StaticCard.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Preact Static Page</title>
	</head>
	<body>
		<h1>Preact Integration</h1>
    <PreactStaticCard title="Hello from Preact!" message="This component is rendered on the server." />
	</body>
</html>
