---
import ReactStaticCard from '../react/StaticCard.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>React Static Page</title>
	</head>
	<body>
		<h1>React Integration</h1>
    <ReactStaticCard title="Hello from React 19!" message="This component now renders statically on the server again." />
	</body>
</html>
