---
import SolidStaticCard from '../solid/StaticCard.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>SolidJS Static Page</title>
	</head>
	<body>
		<h1>SolidJS Integration</h1>
    <SolidStaticCard title="Hello from SolidJS!" message="This component is rendered on the server." />
	</body>
</html>
