---
import SvelteStaticCard from '../svelte/StaticCard.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Svelte Static Page</title>
	</head>
	<body>
		<h1>Svelte Integration</h1>
    <SvelteStaticCard title="Hello from Svelte!" message="This component is rendered on the server." />
	</body>
</html>
