---
import VueStaticCard from '../vue/StaticCard.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Vue Static Page</title>
	</head>
	<body>
		<h1>Vue Integration</h1>
    <VueStaticCard title="Hello from Vue!" message="This component is rendered on the server." />
	</body>
</html>
